cheatsheet/main.aux
cheatsheet/main.fdb_latexmk
cheatsheet/main.fls
cheatsheet/main.log
cheatsheet/main.out
cheatsheet/main.pdf
cheatsheet/main.synctex.gz
cheatsheet/build/
cheatsheet/.texpadtmp/main.aux
cheatsheet/.texpadtmp/main.log
cheatsheet/.texpadtmp/main.out
cheatsheet/.texpadtmp/main.synctex.gz
