ZF_bmicha_Ana_2022/ZF_bmicha_Ana.aux
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.fdb_latexmk
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.fls
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.log
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.out
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.pdf
ZF_bmicha_Ana_2022/ZF_bmicha_Ana.synctex.gz
ZF_bmicha_Ana_2022/build/
ZF_bmicha_Ana_2022/.texpadtmp/ZF_bmicha_Ana.aux
ZF_bmicha_Ana_2022/.texpadtmp/ZF_bmicha_Ana.log
ZF_bmicha_Ana_2022/.texpadtmp/ZF_bmicha_Ana.out
ZF_bmicha_Ana_2022/.texpadtmp/ZF_bmicha_Ana.synctex.gz
